
.header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #ffffff;
    border-bottom: #cccccc;
    padding: 50px;
    border: 30px;
    margin: -10px;
}

.fixedh1 {
  position: absolute;
  background: #4aaaa5;
  left: 20%;
  top: 1%;
  padding: 12px;
  color: #ffffff;
}

.about {
  position: absolute;
  right: 30%;
  top: 5%;
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio {
  position: absolute;
  right: 270px;
  bottom: 10px;
}

.contact {
  position: absolute;
  right: 210px;
  bottom: 10px;
}

.navbar {
  color: #777777;
}

.container {
  z-index: 1;
  background: #ffffff;

}